@if (Settings.Features.AppFooter)
{
<footer class="page-footer" role="contentinfo">
	<div class="d-flex align-items-center flex-1 text-muted">
        <span class="hidden-md-down fw-700"> &copy; 2021-<script>new Date().getFullYear() > document.write(new Date().getFullYear());</script>  @Settings.App для  &nbsp;<a href="http://karavay.spb.ru" class="text-primary fw-500" title="@Settings.AppFlavor" target="_blank">@Settings.AppFlavor</a></span>
	</div>
	@*<div>
		<ul class="list-table m-0">
			<li><a href="/intel/introduction" class="text-secondary fw-700">About</a></li>
			<li class="pl-3"><a href="/info/applicensing" class="text-secondary fw-700">License</a></li>
			<li class="pl-3"><a href="/info/appdocs" class="text-secondary fw-700">Documentation</a></li>
			<li class="pl-3 fs-xl"><a href="https://wrapbootstrap.com/user/Walapa" class="text-secondary" target="_blank"><i class="@(Settings.Theme.IconPrefix) fa-question-circle" aria-hidden="true"></i></a></li>
		</ul>
	</div>*@
</footer>
<script type="text/javascript">
	var getYear = () => {
		return Date().getFullYear();
	};
</script>
}
