@if (ViewBag.Heading?.Length > 0)
{
 
<h1 @(User.Identity.IsAuthenticated ? "class=\"subheader-title\"" :"style=color:white ")>
	@Html.Raw(ViewBag.Heading)
	@if (ViewBag.PageDescription?.Length > 0)
{
	<small>
		@Html.Raw(ViewBag.PageDescription)
	</small>
	}
</h1>
}
